.inputy{
    padding-top: 10px;
}
.editable,.editableM{
    width: 100%;
    height: 70px;
    border: none;
    outline: none;
    resize: none;
}
.editable::-webkit-scrollbar{
    width: 0px;
}
.editableM::-webkit-scrollbar{
    width: 0px;
}
.editable:hover{
    border-color: red;
}
.editableM:hover{
    border-color: red;
}

.inputy .privacy{
    color:#1da1f2;
    margin: 5px 0;
    padding: 7px 10px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    transition: background 0.2s ease;
    border-radius: 50px;
}
.inputy .privacy:hover, .icons li:hover, .bi:hover{
    background: #e7f5fe;
}

.privacy i{
    font-size: 18px;
}
.privacy span{
    font-size: 15px;
    font-weight: 600;
    margin-left: 7px;
}
.bottom{
    display: flex;
    margin-top: 13px;
    align-items:center;
    justify-content: space-between;
}
.bottom .icons{
    display: inline-flex;
}
.icons li{
    color: #1da1f2;
    list-style: none;
    height: 38px;
    width: 38px;
    margin: 0 2px;
    font-size: 20px; 
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background 0.2s ease;
}
.bottom .content{
    display: flex;
    align-items: center;
}
.content .counter{
    display:none;
    color:black;
    margin-right: 15px;
    padding-right: 5px;
}
.content .counterM{
    display:none;
    color:black;
    margin-right: 15px;
    padding-right: 5px;
}
.content button{
    padding: 9px 18px;
    border: none;
    outline: none;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 700;
    background:#1da1f2;
    color:#fff;
    cursor:pointer;
    pointer-events: none;
}
.line{
    height: 20px;
    border-left: 2px solid;
    padding-left: 10px;
    border-color:#aab8c2;
}
.plus{
    margin: 10px;
}
.btx{
    margin-left: 80%;
}
.srch{
    margin-top: 5px;
}


.timeLine{
    width: 100%;
}
.profileImg{
    border-radius: 500px;
    height:64px;
    width: 64px;
}
.pImg{
    border-radius: 500px;
    height: 60px;
    width: 60px;
}
.threImg{
    border-radius: 500px;
    height: 60px;
    width: 60px;
}
.navbar{
    list-style: none;
}
.navbar li a {
    color:rgb(6, 7, 8);
    text-decoration:none;
}
.navbar li:hover {
    background-color:rgba(15, 25, 20, 0.1);
    border-radius: 10px;
}
.publi a{
    color:rgb(6, 7, 8);
    text-decoration:none;
}
.publi a:hover {
    background-color:rgba(15, 25, 20, 0.1);
    border-radius: 5px;
}
.follow li{
    display: inline;
}
.follow li a{
    color:rgb(83, 100, 113);
    text-decoration: none;
}
.follow span{
    color: rgb(15, 20, 25);
    font-weight: bold;
}
.follow li:hover{
    text-decoration:underline;
}
.actions li{
    display: inline;
}
.actions li a{
    color:rgb(83, 100, 113);
    border-radius: 2px;
    text-align: center;
}
#Reply:hover{
    color: rgba(29, 155, 240, 1);
    background-color:rgba(29, 155, 240, 0.1);
}
#Retzeet:hover{
    color:rgba(0, 186, 124, 1);
    background-color:rgba(0, 186, 124, 0.1);
}
#Like:hover{
    background-color:rgba(249, 24, 128, 0.1);
    color:rgba(249, 24, 128, 1);
}
#name{
    color:rgb(15, 20, 25);
}
#idName{
    color:rgb(83, 100, 113);
}
#userDescription{
    color:rgb(15, 20, 25);
}
.infos li{
    display: inline;
}
.infos a{
    color:rgb(83, 100, 113);
    text-decoration: none;
}
.msg:hover{
    background-color:rgba(0, 0, 0, 0.03) ;
}
.msg div{
    color:rgb(15, 20, 25)
}
.msg span{
    color:rgb(83, 100, 113);
}
#date.msg{
    color:rgb(83, 100, 113);
} 
.barthre{
    list-style: none;
}