body{background:rgb(17, 16, 16)}
.pw{
    margin-bottom: 5px;
}
.login-container{
    position: relative;
    width: 300px;
    margin: 150px auto;
    padding: 20px 40px 40px;
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.avatar{
    width: 100px;
    height: 60px;
    margin: 10px auto 10px;
}
.forgot{
    font-size: 12px;
    width: 100px;
    height: 5px;
}
.bt{
  align-self:center;  
  margin-top: 30px;
}



