.pImg{
    border-radius: 500px;
    height: 90px;
    width: 90px;
}
.threImg{
    border-radius: 500px;
    height: 60px;
    width: 60px;
}
.navbar{
    list-style: none;
}
.navbar li a {
    color:rgb(6, 7, 8);
    text-decoration:none;
}
.navbar li:hover {
    background-color:rgba(15, 25, 20, 0.1);
    border-radius: 10px;
}
.publi a{
    color:rgb(6, 7, 8);
    text-decoration:none;
}
.publi a:hover {
    background-color:rgba(15, 25, 20, 0.1);
    border-radius: 5px;
}
.follow li{
    display: inline;
}
.follow li a{
    color:rgb(83, 100, 113);
    text-decoration: none;
}
.follow span{
    color: rgb(15, 20, 25);
    font-weight: bold;
}
.follow li:hover{
    text-decoration:underline;
}
.actions li{
    display: inline;
}
.actions li a{
    color:rgb(83, 100, 113);
    border-radius: 2px;
    text-align: center;
}
#Reply:hover{
    color: rgba(29, 155, 240, 1);
    background-color:rgba(29, 155, 240, 0.1);
}
#Retzeet:hover{
    color:rgba(0, 186, 124, 1);
    background-color:rgba(0, 186, 124, 0.1);
}
#Like:hover{
    background-color:rgba(249, 24, 128, 0.1);
    color:rgba(249, 24, 128, 1);
}
#name{
    color:rgb(15, 20, 25);
}
#idName{
    color:rgb(83, 100, 113);
}
#userDescription{
    color:rgb(15, 20, 25);
}
.infos li{
    display: inline;
}
.infos a{
    color:rgb(83, 100, 113);
    text-decoration: none;
}
.msg:hover{
    background-color:rgba(0, 0, 0, 0.03) ;
}
.msg div{
    color:rgb(15, 20, 25)
}
.msg span{
    color:rgb(83, 100, 113);
}
#date.msg{
    color:rgb(83, 100, 113);
} 
.barthre{
    list-style: none;
}